<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Perfil</title>
</head>

<body>

<a href="/">Voltar</a>

<h1 id="nome"></h1>
<p id="email"></p>

<h2>Receitas</h2>
<ul id="receitas"></ul>


<script>

async function carregarPerfil() {

    const resposta = await fetch(
        "/api/usuarios/{{ usuario_id }}"
    );

    const dados = await resposta.json();

    document.getElementById("nome").textContent =
        dados.usuario.nome;

    document.getElementById("email").textContent =
        dados.usuario.email;

    document.getElementById("receitas").innerHTML =
        dados.receitas.map(r => `
            <li>
                <b>${r.titulo}</b><br>
                ${r.descricao}<br>
                Ingredientes: ${r.ingredientes}
            </li>
        `).join("");
}


carregarPerfil();

</script>

</body>
</html>
